<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
	<config>
		<!-- socket or com -->
		<type>socket</type>
	</config>

	<com>
		<!-- 串口号，注意：大小写敏感 -->
		<port>COM4</port>
		<!-- 波特率 -->
		<baudrate>9600</baudrate>
		<!-- 数据位 -->
		<databit>8</databit>
		<!-- 停止位 -->
		<stopbit>1</stopbit>
		<!-- 校验位 none=无；even=奇校验；odd=偶校验；space=校验位总为0；mark=校验位总为1 -->
		<!-- K的大课堂：所谓奇校验和偶校验，就是在发送一个byte时，在原有的8个二进制数之外再增加一位进行校验 -->
		<!-- 对于奇校验来说，就是调整增加的那位，使8位二进制数中值位1的数总数有奇数个，偶校验反之 -->
		<parity>none</parity>
	</com>

	<socket>
		<!-- server or client -->
		<!-- 填写server或client -->
		<type>client</type>
		<!-- if server, set null -->
		<!-- 若为server，则此节点留空（需要保留节点） -->
		<ip>127.0.0.1</ip>
		<!-- 若为server，则此节点为监听端口；若为client，则此节点为连接服务器的端口 -->
		<port>7676</port>
		<!-- 是否长连接, true或者false -->
		<keepAlive>true</keepAlive>
	</socket>

	<send file="config\com\air-condition.xml">
		<interval time="1000" protocol="analog" />
		<!-- <interval time="10000" protocol="alarm_report" /> <interval time="5000" 
			protocol="status" /> <interval time="5000" protocol="alarm" /> -->
	</send>

	<reply file="config\com\air-condition.xml">
		<!-- <response> <field>15,18</field> <value>00001f40</value> <head>23646C686A7478787923</head> 
			<tail>11</tail> <class>byte</class> <pro>status</pro> <quote> <field name="sector-id,company-info">39,42</field> 
			<rule>response_id.rule</rule> </quote> </response> -->
		<response>
			<field>4,5</field>
			<value>686a</value>
			<head>2364</head>
			<tail>1111</tail>
			<class>byte</class>
			<pro>analog</pro>
			<quote>
				<field name="ver,adr">2,5</field>
				<field name="cid1">6,9</field>  //TODO:需要修改ConfigHandler中的getReplySetting方法，使其能够支持多个引用字段
			</quote>
		</response>
	</reply>
</root>